.App {
  text-align-last: center;
}
body {
  background: #eeeeee;
  font-family: sans-serif;
}
.row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border-bottom: 4px solid orangered;
}

.NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalDeaths,
.TotalRecovered {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.NewConfirmed {
  color: orangered;
}

.TotalConfirmed {
  color: blueviolet;
}

.TotalDeaths {
  color: greenyellow;
}

.NewDeaths {
  color: orchid;
}

.TotalRecovered {
  color: yellow;
}

table {
  border-collapse: separate;
  width: 80%;
  margin: 0 auto;
  border-spacing: 0 12px;
}

table thead tr {
  background: wheat;
}
table thead tr th {
  padding: 18px 2px;
  text-align: left;
}

table thead tr td {
  padding: 18px 12px;
  text-align: left;
}

table tbody tr {
  background: #ffffff;
}
